* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}
main {
  width: 100%;
  height: 100%;
  margin-top: 1rem;
}
.home-banner {
  background-image: url('https://images.unsplash.com/photo-1631010231130-5c7828d9a3a7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
  min-height: 90vh;
  background-position: center;
  background-size: contain;
}
.pagination {
  display: flex;
  margin: .25rem;
  list-style: none;
}
.pagination a {
  color: #000;

}
.summary_card {
  height: 50vh;
}
.package-summary-container {
  background-color: #555;
  color: aliceblue;
  padding-top: 1.25rem;
  height: 10%;
}
.failed-status {
  color: red;
}
.google-map {
  height: 80vh;
}
.page-item {
  margin-right: 0rem;
  color: aqua;
  text-align: center;
}
.sidebar {
  background-color: rgb(244, 244, 244);
  height: 85vh;
  padding-top: 3.5rem;
}

.register-form {
  height: 100%;
  min-width: 50%;
  margin: 1rem auto;
}
.register-form .heading , .login-form .heading {
  text-align: center;
  margin-bottom: 2rem;
}
.login-form {
  height: 100%;
  min-width: 50%;
  margin: 1rem auto;
}

.footer {
  text-align: center;
  align-items: center;
  background-color: rgb(244, 244, 244);
  padding: 10px;
}
.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}